.gradient-background {
  background: linear-gradient(300deg,#E5E3C9, #B4CFB0, #789395);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
#title{
padding-left: 2rem;
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;;
}
.col{
  height: 25rem;
}
